
.detailsContainer {
  position: relative; 
}

.scrollToTopButton {
  font-family: 'Geist Mono', monospace;
  cursor: pointer;
  margin: 36px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  flex-direction: column;
}

.scrollToTopButton img {
  width: 24px;
  height: 24px;
  padding: 5px;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: #B86E5C;
  border: none;
  border-radius: 50%;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .detailsContainer {
    border-right: 1px solid #5C7A6E;
  }
}
