
.detailsContainer {
  position: relative; 
  border-bottom: 1px solid #5C7A6E;
}

.scrollToTopButton {
  position: fixed;
  top: 30px;
  right: 10px;
  cursor: pointer;
}

.arrow {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .scrollToTopButton {
    right: 10px; 
  }
  .arrow {
    width: 30px;
    height: 30px;
  }
}