.projectCard {
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 754px;
  max-height: 300px;
  background-color: #2D3A36;
  border-top: 1px solid #5C7A6E;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.projectCard:first-child {
  border-top: none;
  border-bottom: 1px solid #5C7A6E;
}

.languageArrowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowContainer {
  cursor: pointer;
}

.arrowContainer:hover {
  transform: translateX(5px); 
}

.arrowContainer:hover::before {
  border-left-color: #C3563B;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 50px; 
  height: 3px; 
  background-color: #C3563B; 
  margin-right: 20px;
}

.arrow::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  right: -20px; 
  width: 0;
  top: 2px;
  height: 0;
  margin-right: 10px;
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #C3563B; 
  transition: border-left-color 0.3s ease;
}


.projectTitle {
  font-family: 'MADE TOMMY', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.projectTopRow {
  display: flex;
  align-items: center;
}

.projectCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
  background-color: #3D4E47; 
}

.projectCard:hover ~ .projectCard,
.projectCard:hover + .projectCard {
  opacity: 0.5;
}

.projectContent {
  display: flex;
  flex-direction: column;
}

.projectImg {
  width: 70px;
  height: auto;
  margin: 0px 24px 6px 0px;
}

.projectDetails {
  flex: 2; 
}

.description {
  font-family: 'MADE TOMMY', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.languageContainer {
  display: flex;
  margin: 12px 0;
  font-family: 'MADE TOMMY', sans-serif;
}

.projectHeader {
  font-weight: 700;
  padding: 0 20px 0 20px;
}


.projectCardsContainer {
  display: flex;
  flex-direction: column; 
  gap: 24px; 
}

.projectCardsContainer:hover {
  opacity: 1; 
}

@media (max-width: 1360px) {
  .projectCard {
    min-width: 100%;
    height: auto;
  }

  .projectImg {
    width: 60px;
    height: 60px;
  }

  .projectHeader {
    font-size: 16px;
  }

  .arrow {
    margin-right: 60px;
  }
}