.scrollToTopButton {
  cursor: pointer;
  margin: 36px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  flex-direction: column;
  padding-bottom: 20px;
}

.scrollToTopButton img {
  width: 24px;
  height: 24px;
  padding: 5px;
}

.scrollToTopArrow {
  width: 40px;
  height: 40px;
  background-color: #B86E5C;
  border: none;
  border-radius: 50%;
  margin-bottom: 12px;
}

.backToTop {
  font-size: 16px;
  font-family: 'Geist Mono', monospace;
  margin-bottom: 20px;
  text-transform: uppercase;
}

