.pill {
  color: #fff;
  padding: 5px 12px;
  font-size: 14px;
  border-right: 1px solid #5C7A6E;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Avenir Roman', sans-serif;
  line-height: 1;
  cursor: default;
}

.pill:first-child {
  padding-left: 0;
}

.pill:last-child {
  border-right: none;
}
