.pill {
  color: #fff;
  padding: 5px 12px;
  font-size: 14px;
  border-right: 1px solid #5C7A6E;
  font-weight: 700;
  font-family: 'DIN Condensed Alternate', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  cursor: default;
}

.pill:first-child {
  padding-left: 0;
}

.pill:last-child {
  border-right: none;
}

@media (max-width: 800px) {
  .pill {
    font-size: 12px;
  }
}