.profileLink {
  background-color: #2D3A36;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.profileLink .linkText {
  display: none;
}

.letterIcon {
  width: 24px;
  height: 24px;
  color: white;
}

@media (min-width: 1701px) {
  .profileLink {
    width: auto;
    height: auto;
    padding: 8px 16px;
    border-radius: 4px;
    gap: 8px;
  }

  .profileLink .linkText {
    display: inline;
    font-family: 'Geist Mono', monospace;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }

  .letterIcon {
    width: 18px;
    height: 18px;
  }
}

.linkContainer {
  height: fit-content;
  display: flex;
}

.icon {
  width: 45px;
  height: 45px;
  filter: invert(100%);
  margin-bottom: 3px;
}

.icon:nth-child(2) {
  width: 35px;
  height: 35px;
}

@media (max-width: 1700px) {
  .profileLink {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 800px) {
  .linkContainer {
    display: none;
  }
}
