.howIGotHere {
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  gap: 32px;
  margin-bottom: 60px;
  background-color: #2D3A36;
  border-bottom: 1px solid #5C7A6E;
  font-family: 'Avenir Roman', sans-serif;
}

.selfie {
  margin-right: 20px;
  width: 200px;
  padding: 36px 0 36px 0;
  border-right: 1px solid #5C7A6E;
  border-left: 1px solid #5C7A6E;
}

.selfie img {
  border: 1px solid #5C7A6E;
  width: 100%; 
  height: auto;
}

.selfBlurb {
  margin: 24px 24px 0 0
}

@media (max-width: 768px) {
  .howIGotHere {
    flex-direction: column;
    align-items: center;
  }

  .selfie {
    width: 250px;
  }

  .selfBlurb {
    margin: 0 0 24px 0;
  }
}