.header {
  height: 86px;
  background-color: #5C7A6E;
  width: 100%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.headerContainer {
  max-width: 1310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: inherit;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
  }
  
  .headerContainer {
    padding: 0 16px;
  }
}