.projectDetailsContent {
  font-family: 'DIN Condensed Alternate', sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 50px 60px 50px;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  background-color: #3D4E47;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #5C7A6E;
  overflow: scroll;
}

.projectHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.projectHeader img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.projectTitle {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'DIN Condensed Alternate', sans-serif;
  border-left: 8px solid #B86E5C;
  padding-left: 6px;
  line-height: 26px;
}

.projectDescription {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-family: 'Geist Mono', monospace;
  line-height: 1.7;
}

.todos {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Geist Mono', monospace;
}

.todos ul {
  line-height: 1.7;
  padding-left: 20px;
}

.todos li {
  margin-bottom: 8px;
}

.todos li:last-child {
  margin-bottom: 0;
}

.projectResearch {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Geist Mono', monospace;
}

.projectResearch ul {
  line-height: 1.7;
  padding-left: 20px;
}

.projectResearch li {
  margin-bottom: 8px;
}

.projectResearch li:last-child {
  margin-bottom: 0;
}

.sectionLabel {
  font-size: 24px;
  font-family: 'DIN Condensed Alternate', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projectScreenshots {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.screenshot {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.screenshotLabel {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 26px;
  font-family: 'Geist Mono', monospace;
}

.gitHubLink {
  margin-top: 20px;
  text-align: center;
}

.gitHubLink a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #B86E5C;
  text-decoration: none;
  transition: color 0.3s ease;
}

.gitHubLink a:hover {
  color: #d88a7a;
  text-decoration: underline;
}

.backButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 12px 16px 12px 12px;
  margin-bottom: 20px;
}

.backButton:hover {
  transform: translateX(-3px);
}

.backArrow {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #B86E5C;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.backArrow:hover {
  transform: translateX(-3px);
}

.backArrow::before {
  content: '';
  position: absolute;
  transform: translate(50%, -50%);
  left: -20px;
  width: 0;
  top: 2px;
  height: 0;
  margin-left: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #B86E5C;
  transition: border-right-color 0.3s ease;
}

.backButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .projectDetailsContent {
    padding: 15px;
  }
}
