.highlight {
  position: fixed;
  width: 600px; 
  height: 600px; 
  pointer-events: none; 
  background: radial-gradient(
    circle,
    rgba(173, 216, 230, 0.1) 0%, 
    rgba(173, 216, 230, 0.05) 40%, 
    rgba(173, 216, 230, 0) 70%   
  );
  transform: translate(-50%, -50%); 
  border-radius: 50%; 
  transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
  z-index: .5; 
  mix-blend-mode: lighten; 
  filter: blur(100px);
}