
@font-face {
  font-family: 'Lemon Mocktail';
  src: url('../assets/fonts/lemon_mocktail/Lemon Mocktail.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../assets/fonts/avenir-font/AvenirLTStd-Roman.woff2') format('woff2'),
       url('../assets/fonts/avenir-font/AvenirLTStd-Roman.woff') format('woff'),
       url('../assets/fonts/avenir-font/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans (1)/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADE TOMMY';
  src: url('../assets/fonts/made_tommy/MADETommy-Regular.woff2') format('woff2'),
       url('../assets/fonts/made_tommy/MADETommy-Regular.woff') format('woff'),
       url('../assets/fonts/made_tommy/MADETommy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}