/* Global Styles */
body, html {
  margin: 0;
  background-color: #252E2B;
  color: white;
  height: 100%;
  overflow: hidden;
}

.app {
  border-right: 1px solid #5C7A6E;
  overflow-y: auto;
}

.appContainer {
  display: flex;
  width: 1664px;
  justify-content: center;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}

.pageContent {
  display: flex;
  margin-top: 90px;
}

.aboutMe {
  display: flex;
  justify-content: center;
  width: 469px; 
  padding: 50px;
  margin-right: 71px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
}

.details {
  max-width: 754px;
  overflow-x: hidden; 
  padding: 0; 
  box-sizing: border-box;
  border-right: 1px solid #5C7A6E;
  border-left: 1px solid #5C7A6E;
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

.projectDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252E2B;
  z-index: 100; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

@media (max-width: 1700px) {
  body {
    overflow: hidden;
  }
  .app {
    border-right: none;
  }
  .appContainer {
    flex-direction: column;
    align-items: center; 
    width: 100%;
    overflow: hidden;
    max-width: 754px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100vh;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    max-width: 754px;
    margin-right: 0;
    min-height: 350px;
    flex: 0;
    padding: 36px;
    box-sizing: border-box;
    border-right: 1px solid #5C7A6E;
    border-left: 1px solid #5C7A6E;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    border-top: 1px solid #5C7A6E;
  }
}

@media (max-width: 800px) {
  .appContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none;
    padding: 0;
  }
  .aboutMe {
    min-height: 225px;
  }
}
