.nameContainer {
  display: flex;
  align-items: stretch;
  margin-bottom: 0;
}

.nameBorder {
  width: 8px;
  margin: 16px 0 10px;
  background-color: #B86E5C;
  flex-shrink: 0;
  margin-right: 8px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.firstName,
.lastName {
  font-family: 'DIN Condensed', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 100px;
  padding: 0;
  margin: 0;
  text-shadow: 
  2px 2px 4px rgba(0, 0, 0, 0.5), 
  -2px -2px 4px rgba(255, 255, 255, 0.2);
}

.title {
  font-family: 'DIN Condensed Alternate', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 24px;
}

.quirksContainer {
  width: 600px;
  font-size: 14px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.languagesContainer {
  display: flex;
  margin-top: 32px;
  width: 515px;
  font-size: 14px;
  gap: 16px;
}
.aboutMeContainer {
  transition: height 0.3s ease, padding 0.3s ease;
  height: auto;
  padding: 20px;
  margin-left: 50px;
}

.shrunk {
  height: 100px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1700px) {
  .nameContainer {
    height: 52px;
  }
  .nameBorder {
    width: 6px;
    margin: 12px 8px 8px 0px;
  }
  .nameWrapper {
    padding-top: 0;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  .firstName,
  .lastName {
    font-size: 72px;
    line-height: 72px;
    white-space: nowrap;
  }
  .aboutMeContainer {
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 32px;
    font-style: italic;
  }
  .quirksContainer {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .nameBorder {
    width: 6px;
    margin-right: 6px;
  }
  .aboutMeContainer {
    padding: 0;
    margin: 24px;
  }
  .nameWrapper {
    padding-top: 0;
  }
  .firstName,
  .lastName {
    font-size: 72px;
    line-height: 72px;
  }
  .title {
    font-size: 16px;
    margin-top: 25px;
  }
  .quirksContainer {
    font-size: 12px;
    margin-bottom: 20px;
    width: auto;
    line-height: 24px;
  }
}

@media (max-width: 650px) {
  .firstName,
  .lastName {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (max-width: 430px) {
  .aboutMeContainer {
    margin: 0;
  }
  .firstName,
  .lastName {
    font-size: 36px;
    line-height: 36px;
  }
}